@import url("https://fonts.cdnfonts.com/css/petrov-sans-trial");

.put-edit-form {
  margin: 10px;
}

#edit-pin-form {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
