@import url("https://fonts.cdnfonts.com/css/petrov-sans-trial");
@import url("https://fonts.cdnfonts.com/css/raider-crusader");

#home-page-container {
  background-color: rgb(255, 255, 255);
  min-height: 820px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 1px solid black;
  background-image: url("https://tech-trist-open.s3.us-east-2.amazonaws.com/tech.jpeg");
  background-size: 100% 100%;
}

#home-signup-form {
  max-height: 750px;
  margin-top: 40px;
  max-width: 450px;
  margin-left: 130px;
  background-color: rgba(255, 255, 255, 0.738);
  box-shadow: 1px 1px 10px rgb(144, 144, 144);
  margin-bottom: 10px;
  border-radius: 20px;
}

#home-paragraph-container {
  color: rgb(0, 0, 0);
  font-size: 3.5rem;
  text-align: center;
  text-shadow: 2px 2px 9px rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

#paragraph-home-page {
  font-family: "Raider Crusader", sans-serif;
  animation: pulse 10s ease infinite;
}

#home-right-side-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home-right-side-title {
  margin-bottom: 30px;
  margin-top: 50px;
  border: 1px rgb(0, 0, 0) solid;
  background-color: rgba(255, 255, 255, 0.551);
  border-radius: 25px;
  width: 450px;
}

@keyframes pulse {
  0%,
  100% {
    font-size: 30px; /* Smaller font size */
  }
  50% {
    font-size: 40px; /* Larger font size */
  }
}

@media screen and (max-width: 600px) {
  #paragraph-home {
    font-size: 2rem;
    margin-bottom: 10px;
    background-color: white;
  }
  #home-page-container {
    background-color: rgb(255, 255, 255);
    min-height: 850px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    align-items: center;
    justify-content: center;
    background-image: url("https://tech-trist-open.s3.us-east-2.amazonaws.com/tech.jpeg");
    background-size: 100% 100%;
  }

  #paragraph-home-page {
    font-family: "Raider Crusader", sans-serif;
    animation: pulse 10s ease infinite;
  }

  #home-right-side-container {
    width: 250px;
  }

  #home-paragraph-container {
    background-image: none;
    background-color: rgba(255, 255, 255, 0);
  }

  @keyframes pulse {
    0%,
    100% {
      font-size: 20px; /* Smaller font size */
    }
    50% {
      font-size: 30px; /* Larger font size */
    }
  }

  #home-signup-form {
    border: 1px solid grey;
    border-radius: 25px;
    max-height: 900px;
    margin-top: 0px;
    max-width: 500px;
    margin-left: 0px;
    background-color: white;
    box-shadow: 1px 2px 2px black;
    margin-bottom: 10px;
  }
}
