#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  animation: show 0.3s;
}

@keyframes show {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  /* background-color: rgba(107, 107, 107, 0.562); */
}

#modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  background-color: rgba(255, 255, 255, 0.972);
  border: black 1px solid;
}
