@import url("https://fonts.cdnfonts.com/css/petrov-sans-trial");

#footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-top: 1px solid black;
  margin-bottom: 10px;
}
#about-me {
  margin: 0px;
  margin-top: 10px;
  font-family: "Petrov Sans-Trial", sans-serif;
}
#github-link {
  margin: 0px;
  margin-top: 10px;
  text-decoration: none;
  color: black;
  font-family: "Petrov Sans-Trial", sans-serif;
}

#github-link:hover {
  text-shadow: 2px 2px 9px rgb(23, 146, 191);
}

#footer-icons {
  display: flex;
  gap: 10px;
}
