@import url("https://fonts.cdnfonts.com/css/raider-crusader");

#profile-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profile-page-picture {
  height: 120px;
  width: 120px;
  border-radius: 80px;
  border: 2px #1c6e8c solid;
}

#profile-page-h1 {
  margin: 0px;
  margin-top: 20px;
}

#profile-page-p {
  margin-top: 5px;
}

#all-boards {
  display: flex;
  gap: 65px;
  /* font-family: "Raider Crusader", sans-serif; */
}

#boards-link {
  text-decoration: none;
  /* font-family: "Raider Crusader", sans-serif; */
}

#plus-emblem-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-self: flex-end;
  margin-right: 25px;
}

#my-boards-title {
  font-weight: 500;
  font-family: "Raider Crusader", sans-serif;
  margin: 0px;
  margin-top: 45px;
}

#my-pins-title {
  font-weight: 500;
  font-family: "Raider Crusader", sans-serif;
}

#plus-emblem {
  margin: 0px;
  padding: 0px;
  padding-bottom: 0px;
  padding-top: 3px;
  padding-right: 3px;
  padding-left: 3px;
}

#plus-emblem:hover {
  /* border-radius: 30px; */
  transform: scale(1.05);
  transition: transform 0.5s ease;
}

#profile-add-new-pin-board {
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 25px;
  align-items: center;
  justify-content: center;
}

#profile-new-pin {
  font-size: 2rem;
  text-decoration: none;
  color: #1c6e8c;
}

#board-title-profile {
  color: #1c6e8c;
  text-decoration: none;
  font-size: 1.5rem;
}

#home-pins-container {
  margin-bottom: 15px;
}

#board-title-profile:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

#profile-new-pin-container {
  padding: 8px;
}

#profile-new-pin-container:hover {
  box-shadow: 0 0 10px 2px #1c6e8c;
  border-radius: 25px;
  transform: scale(1.05);
  transition: transform 0.5s ease;
}

#open-modal-new-board {
  color: #1c6e8c;
  margin: 0px;
  padding: 10px;
  font-size: 2rem;
}

/* #open-modal-new-board:hover {
  box-shadow: 1px 3px 5px #1c6e8c;
} */

#profile-new-board {
  font-size: 2rem;
  text-decoration: none;
  color: #1c6e8c;
}
