@import url("https://fonts.cdnfonts.com/css/raider-crusader");
@import url("https://fonts.cdnfonts.com/css/petrov-sans-trial");

#profile-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  animation: show 0.3s;
}

@keyframes show {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

#profile-page-picture {
  height: 120px;
  width: 120px;
  border-radius: 80px;
  border: 2px #1c6e8c solid;
  background-color: white;
}

#boards-pins-container {
  display: flex;
  border-top: rgba(128, 128, 128, 0.491) 2px solid;
  margin-top: 10px;
}

#profile-page-h1 {
  margin: 0px;
  margin-top: 20px;
  font-family: "Petrov Sans-Trial", sans-serif;
}

#profile-page-p {
  margin-top: 5px;
  font-family: "Petrov Sans-Trial", sans-serif;
}

#all-boards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* width: 1100px; */
  gap: 15px;
  align-items: center;
  justify-content: center;
  /* height: fit-content; */
}

#board {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
  border-radius: 25px;
  /* border: 2px solid black; */
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.952);
  box-shadow: 0 0 10px 2px #1c6e8c;
}

#board:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease;
}

#boards-link {
  text-decoration: none;
  /* font-family: "Raider Crusader", sans-serif; */
}

#plus-emblem-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-self: flex-end;
  margin-right: 25px;
}

#all-pins-home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1150px;
  gap: 15px;
  align-items: center;
  justify-content: center;
  height: fit-content;
}

#my-boards-container {
  text-align: center;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
  justify-content: center;
  height: fit-content;
  margin-top: 20px;
  margin-left: 15px;
}

#all-boards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 600px;
  margin-left: 15px;
}

#my-boards-title {
  font-weight: 500;
  font-family: "Raider Crusader", sans-serif;
  margin-bottom: 5px;
}

#my-pins-title {
  font-weight: 500;
  font-family: "Raider Crusader", sans-serif;
  align-self: center;
  justify-content: center;
}

#plus-emblem {
  margin: 0px;
  padding: 0px;
  padding-bottom: 0px;
  padding-top: 3px;
  padding-right: 3px;
  padding-left: 3px;
}

#plus-emblem:hover {
  /* border-radius: 30px; */
  transform: scale(1.05);
  transition: transform 0.5s ease;
}

#profile-add-new-pin-board {
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 25px;
  align-items: center;
  justify-content: center;
}

#profile-new-pin {
  font-size: 2rem;
  text-decoration: none;
  color: #1c6e8c;
}

#pins-title-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

#board-title-profile {
  color: #1c6e8c;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: "Petrov Sans-Trial", sans-serif;
}

#followers-length {
  margin: 0px;
}

#home-pins-container {
  margin-bottom: 15px;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* #board-title-profile:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
} */

#profile-new-pin-container {
  padding: 8px;
}

#profile-new-pin-container:hover {
  box-shadow: 0 0 10px 2px #1c6e8c;
  border-radius: 25px;
  transform: scale(1.05);
  transition: transform 0.5s ease;
}

#open-modal-new-board {
  color: #1c6e8c;
  margin: 0px;
  padding: 10px;
  font-size: 2rem;
}

/* #open-modal-new-board:hover {
  box-shadow: 1px 3px 5px #1c6e8c;
} */

#profile-new-board {
  font-size: 2rem;
  text-decoration: none;
  color: #1c6e8c;
}

#favorites-title-container {
  display: flex;
  justify-content: center;
  border-top: rgba(128, 128, 128, 0.491) 2px solid;
}

#favorites-title {
  font-weight: 500;
  font-family: "Raider Crusader", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 15px;
  margin-top: 15px;
}

#all-pins-favorites {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  justify-content: center;
  height: fit-content;
  margin-bottom: 40px;
}

.board-remove-button {
  width: 80px;
  padding: 10px;
  border-radius: 25px;
  margin-bottom: 5px;
  margin-right: 10px;
  background-color: rgb(0, 0, 0);
  border: none;
  align-self: flex-end;
  z-index: 99;
  color: rgb(255, 255, 255);
  font-family: "Petrov Sans-Trial", sans-serif;
}
@media screen and (max-width: 1200px) {
  #board {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 60px;
    border-radius: 25px;
    /* border: 2px solid black; */
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.952);
    box-shadow: 0 0 10px 2px #1c6e8c;
  }
  #all-boards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 400px;
  }
  #profile-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    animation: show 0.3s;
    margin-top: 50px;
  }
  #boards-pins-container {
    border-top: rgba(128, 128, 128, 0.491) 2px solid;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }
  #home-pins-container {
    margin-bottom: 15px;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #all-pins-home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 400px;
    gap: 15px;
    align-items: center;
    justify-content: center;
    height: fit-content;
  }
  #my-boards-container {
    text-align: center;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    justify-content: center;
    height: fit-content;
    margin-top: 20px;
  }

  #all-boards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 600px) {
  #board-pin__overlay {
    display: flex;
    width: 120px;
    flex-direction: column;
    justify-content: space-between;
    height: 180px;
    border-radius: 25px;
    position: absolute;
    z-index: 0;
    background: linear-gradient(
      110deg,
      #06b22543,
      #1b97495c,
      #19a19f52,
      #0e797746,
      #105c8851,
      #9b1d1d5c,
      #6e0c2947,
      #54064d4c
    );
    background-size: 200% 200%;
    animation: pulse 3s ease infinite;
  }

  .board-pin-overlay-icons {
    z-index: 99;
    color: rgb(255, 255, 255);
    opacity: 1;
    justify-content: center;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 1rem;
    align-items: center;
    font-family: "Petrov Sans-Trial", sans-serif;
    width: 100px;
  }

  #board {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 60px;
    border-radius: 25px;
    /* border: 2px solid black; */
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.952);
    box-shadow: 0 0 10px 2px #1c6e8c;
  }
  #all-boards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 400px;
  }
  #profile-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    animation: show 0.3s;
    margin-top: 50px;
  }
  #boards-pins-container {
    border-top: rgba(128, 128, 128, 0.491) 2px solid;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }
  #home-pins-container {
    margin-bottom: 15px;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #all-pins-home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 400px;
    gap: 15px;
    align-items: center;
    justify-content: center;
    height: fit-content;
  }
  #my-boards-container {
    text-align: center;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    justify-content: center;
    height: fit-content;
    margin-top: 20px;
  }

  #all-boards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .board-remove-button {
    width: 80px;
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 5px;
    margin-right: 10px;
    background-color: rgb(0, 0, 0);
    border: none;
    align-self: flex-start;
    z-index: 99;
    color: rgb(255, 255, 255);
    font-family: "Petrov Sans-Trial", sans-serif;
  }
}
