@import url("https://fonts.cdnfonts.com/css/raider-crusader");

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
}

#user-photo {
  height: 40px;
  width: 40px;
  border-radius: 30px;
}

.profile-button {
  border: none;
  background-color: white;
  border-radius: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin-right: 20px;
  border: #1c6e8c solid 2px;
}

.errors {
  color: red;
}

.profile-button:hover {
  cursor: pointer;
  box-shadow: 1px 5px 5px #1c6e8c;
}

#logout-button {
  border-radius: 20px;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #8c1c1c;
  color: white;
  border: 2px #ffffff solid;
}

#profile-button {
  border-radius: 20px;
  text-decoration: none;
  margin-top: 10px;
  padding-top: 8%;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #1c6e8c;
  color: white;
  border: 2px #ffffff solid;
}

#home-button {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  border-radius: 20px;
  border: 2px #1c6e8c solid;
  padding: 10px;
  background-color: #605856;
}

#home-button:hover {
  box-shadow: 1px 2px 5px #1c6e8c;
}

#ul-dropdown {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #605856;
  border-radius: 20px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
  align-items: center;
}

#currentlyIn {
  font-size: 0.75rem;
  margin-right: 65px;
}

.profile-dropdown {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-top: 5px;
  border: 2px solid #1c6e8c;
  border-radius: 20px;
  background-color: white;
}

#profile-button-dropdown {
  z-index: 99;
  position: fixed; /* or 'fixed' depending on your preference */
  top: 8%; /* Position it below the button */
  right: 0.5%;
  margin-right: 10px;
}

#nav-logo-container {
  display: flex;
  margin-left: 10px;
  gap: 20px;
  align-items: center;
}

#bio-tech {
  color: #605856;
}

#nav-home-button {
  text-decoration: none;
  color: #1c6e8c;
  font-size: 1.75rem;
  font-family: "Raider Crusader", sans-serif;
}

.login-signup-buttons {
  display: flex;
  gap: 15px;
}

#nav-login-button {
  color: #1c6e8c;
  font-size: 1rem;
  margin: 0px;
  font-family: "Raider Crusader", sans-serif;
}

#nav-signup-button {
  font-size: 1rem;
  margin: 0px;
  color: #605856;
  font-family: "Raider Crusader", sans-serif;
}

.modal-button {
  border-radius: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px white solid;
  border: #605856 1px solid;
}

.modal-button:hover {
  cursor: pointer;
  box-shadow: 1px 5px 8px #274156;
}
