@import url("https://fonts.cdnfonts.com/css/petrov-sans-trial");
#all-pins-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#all-pins {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 12000px;
  gap: 5px;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
  height: fit-content;
}

#pin {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: flex-start;
  height: fit-content;
  width: fit-content;
}

#pin__overlay {
  display: flex;
  width: 300px;
  flex-direction: column;
  height: 380px;
  border-radius: 25px;
  position: absolute;
  border-radius: 25px;
  z-index: 0;
  background-color: rgba(47, 47, 47, 0.462);
}

.pin-overlay-icons {
  z-index: 99;
  color: rgb(255, 255, 255);
  opacity: 1;
  justify-content: center;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 1.25rem;
  align-items: center;
  font-family: "Petrov Sans-Trial", sans-serif;
}

#pin-images {
  width: 300px;
  height: 380px;
  border-radius: 25px;
  opacity: 1;
  color: black;
}

#pins-link {
  display: flex;
  flex-direction: column-reverse;
  text-decoration: none;
  color: black;
  text-align: center;
  border-radius: 30px;
}

/* #pin-images:hover {
  box-shadow: 0 0 10px 4px#1c6e8c;
  opacity: 0.5;
  transition-duration: 0.5s, 1s;
  transform: scale(1);
  z-index: 0;  
} */
