@import url("https://fonts.cdnfonts.com/css/raider-crusader");
#current-pin-container {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

#single-pin-edit-container {
  display: flex;
  justify-content: space-between;
}

#single-pin-dropdown {
  z-index: 99;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute; /* or 'fixed' depending on your preference */
  border: 2px #1c6e8c solid;
  margin-left: 25px;
  border-radius: 25px;
  background-color: #1c6e8c;
  gap: 5px;
}

.single-pin-save-button {
  margin-left: 350px;
  border-radius: 25px;
  margin-right: 10px;
  padding: 10px;
  border: 2px #1c6e8c solid;
  background-color: gray;
  color: white;
  margin-top: 5px;
}

#comment-title {
  font-weight: bold;
}

#comment-photo-and-username {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

#comment-username {
  font-family: "Raider Crusader", sans-serif;
}

#comment-body {
  margin-left: 45px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#single-pin-board-name {
  padding: 10px;
  border-radius: 25px;
  border: none;
  background-color: #1c6e8c;
}

#single-pin-comment-photo {
  width: 35px;
  height: 35px;
  border-radius: 20px;
  border: #1c6e8c 2px solid;
}

#single-pin-board-name:hover {
  box-shadow: 0 0 4px 4px #ffffff;
  cursor: pointer;
}

.single-pin-save-button:hover {
  cursor: pointer;
}

#current-pin-small-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0 0 10px 4px#1c6e8c;
  border-radius: 25px;
  max-width: 1150px;
  height: 620px;
  gap: 20px;
}

#single-pin-image {
  border-radius: 20px;
  max-width: 520px;
  height: 620px;
  padding: 0px;
  margin: 0px;
}

#remove-comment-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

#remove-comment-button {
  display: flex;
  justify-content: flex-end;
  border-radius: 25px;
}

#comment-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
  border-top: #1c6e8c 1px solid;
  padding-top: 20px;
  margin-bottom: 15px;
}

#follow-button {
  margin-left: 150px;
  border-radius: 25px;
  margin-right: 10px;
  padding: 15px;
  border: 2px #1c6e8c solid;
  background-color: gray;
  color: white;
}

#single-pin-right-side {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  /* margin-right: 15px; */
  max-height: 630px;
  overflow-y: auto;
}

#creator-img-comment {
  width: 40px;
  border-radius: 40px;
  border: #1c6e8c 2px solid;
}

#creator-img {
  width: 60px;
  border-radius: 40px;
  border: #1c6e8c 2px solid;
}

#single-pin-username {
  font-weight: 500;
  font-family: "Raider Crusader", sans-serif;
  font-size: 1.5rem;
}

#creator-name-photo {
  display: flex;
  align-items: center;
  gap: 15px;
}

#submit-button-single-pin {
  border-radius: 25px;
  padding: 10px;
  margin-left: 15px;
  border: 2px #1c6e8c solid;
  background-color: gray;
  color: white;
}

#single-pin-edit-button {
  border: none;
  flex-direction: row;
  margin: 0px;
  margin-left: 5px;
  margin-top: 5px;
}

#current-pin-description-container {
  max-width: 500px;
  margin-top: 15px;
}
